body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navBar{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.1);
}


.logoContainer{
    height: 100%;
    width: 170px;
    display: flex;
    align-items: center;
}

.logoImg{
    width: 100%;
    height: auto;
}

.navMenu{
    height: 100%;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.membershipButton{
    border-radius: 30px;
    height: 30px;
    background-color: white;
    border: solid 1px gray;
}

button:hover{
    cursor: pointer;
}

.userButton{
    border-radius: 50px;
    background-color: red;
    color: white;
    height: 30px;
    width: 35px;
    border: none;
}

.searchIcon{
    border: none;
    background-color: white;
}

.bookmark{
    background-color: white;
    border: none;
}

.ring{
    border: none;
    background-color: white;
}

main{
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    height: 100%;
}

.centralSection{
    width: 65%;
    border-right: solid 1px lightgray;
}

.navigationArticle{
    display: flex;
    margin-top: 50px;
    border-bottom: solid 1px lightgray;
    margin-right: 50px;
}

.following{
    padding: 10px;
    color: gray;
    border: none;
    background-color: white;
    text-transform: uppercase;
    font-size: 11px;
}

.recommended{
    padding: 10px;
    color: gray;
    border: none;
    background-color: white;
    text-transform: uppercase;
    font-size: 11px;
}

.following:focus{
    border-bottom: solid 1px black;
    font-weight: bold;
    color: black;
}

.recommended:focus{
    border-bottom: solid 1px black;
    font-weight: bold;
    color: black;
}

.articlesContainer{
    margin-right: 50px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.articleAuthor{
    display: flex;
    font-weight: bold;
    font-size: 10px;
    align-items: center;
}

.articleAuthor span{
    font-weight: normal;
}

.articleAuthor img{
    width: 12px;
    height: 12px;
    object-fit: cover;
}

.articleAuthor p{
    margin-left: 5px;
}

.articleTitle{
    margin-top: 0;
}

.articleTitle h3{
    margin-top: 0;
    margin-bottom: 5px;
}

.articleDescription{
    margin-top: 0px;
}

.articleDescription p{
    margin-top: 0px;
    margin-bottom: 5px;
    color: gray;
}

.articleInfoText ul{
    display: flex;
    list-style: none;
    padding-left: 0;
    font-size: 10px;
    color: gray;
    margin-top: 0;
}

.articleInfoText li{
    padding-right: 10px
}

.articleBlock{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.imgArticleContainer{
    width: 250px;
    height: 100px;
}

.imgArticleContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textualPartArticle{
    margin-right: 15px;
}

.articleInfo{
    display: flex;
    justify-content: space-between;
}

.rightSection{
    width: 35%;
    display: flex;
    flex-direction: column;
}

.socialSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
    padding: 5px;
    border-bottom: solid 1px lightgray;
}

.symbolContainer{
    display: flex;
    margin: 10px;
    align-items: center;
    margin-bottom: 0px;
}

.symbolImgContainer{
    height: 25px;
    width: 40px;
}

.symbolContainer img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.discoverWriters{
    text-align: center;
    color: gray;
}

.connectToTwitter button{
    border: none;
    background-color: white;
    height: 35px;
    width: 180px;
    border-radius: 40px;
    border: solid 1px gray;
}

.connectToTwitter img{
    width: 20px;
}

.twitterButton{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

a{
    color: gray;
}

.maybeLater{
    margin-top: 25px;
    font-size: 13px;
    margin-bottom: 20px;
}

.recommendedTopics{
    margin-left: 25px;
}

.setButtons{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.topicButton{
    border-radius: 40px;
    border: none;
    height: 40px;
}

.followUser{
    margin-left: 25px;
    margin-top: 30px;
}

.followUserBlock{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 25px;
    margin-bottom: 30px;
}

.imgProfileContainer{
    height: 40px;
    width: 50px;
}

.imgProfileContainer img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.nameAndDescription h4{
    margin: 0;
}

.nameAndDescription p{
    margin-top: 5px;
    margin-bottom: 0;
}

.followUserBlock button{
    width: 90px;
    height: 30px;
    border-radius: 40px;
    border: solid 1px gray;
    background-color: white;
}

.recentlySaved{
    margin-left: 25px;
}